*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --global-color-0 : #333333 ;
  --global-color-0-claro:#303030;
  --global-color-1:#ffffff;
  --global-color-2: #a3660c;
  --global-color-3:#f6be6a;
  --global-color-4:#5ffe46;
  --font-principal:
}

.carrito{
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  height: 100%;
  width: 90%;
  column-gap: 50px;
  margin: 100px auto;
}
@media (min-width: 760px) {
    .carrito{
      display: grid;
      grid-template-columns: 2fr  1fr;
      width: 70%;
    }
}
.carritoItems{
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 20px;
  overflow:auto;
  max-height: 400px;
  padding: 50px;
}
.carritoItems h1{
  color:var(--global-color-1);
}
@media (min-width: 760px) {
     .carritoItems{
      text-align: start;
     }
}
.bx{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.bx__boton{
  height: 50px;
  width: 50%;
  border: none;
  background-color: var(--global-color-3);
  border-radius: 10px;
  text-transform: uppercase;
  padding: 2px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
}

p{
    color: white;
}