.cont__rick{
    padding: 1rem;
    border: var(--global-color-3) solid 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
  }
  .cont__rick__img{
      width: 100%;
      border-radius: 50%;
  }
  .cont__rick__info{
      padding: 10px;
      line-height: 1.3;
  }
  .cont__rick__info button {
      width: 100%;
      background-color: var(--global-color-3);
      border: none;
      padding: 5px;
      margin-top: 5px;
      border-radius: 10px;
  }