*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*,*:before,  *:after{
    box-sizing: inherit;
}

.checkout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    row-gap: 50px;
}
.checkout__total{
    margin-top: 50px;
    text-align: center;
}
@media (min-width: 760px) {
     .checkout{
        margin: 100px 100px;
        justify-content: center;
        align-items: center;
        column-gap: 100px;
        flex-direction: row;
     }
    
}
