*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --global-color-0 : #333333 ;
    --global-color-0-claro:#303030;
    --global-color-1:#ffffff;
    --global-color-2: #a3660c;
    --global-color-3:#f6be6a;
    --global-color-4:#5ffe46;
    --font-principal:
}
/* globales */
body{
    background-color: var(--global-color-0-claro) !important;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-size: 3rem;
}
h2{
    font-size:2.5rem ;
}
h3{
    font-size: 2rem;
}
a{
    text-decoration: none !important;
    color: var(--global-color-1) !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}
p{
    color: var(--global-color-1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}
button{
    font-size: 14px !important;
    cursor:  pointer !important;
}

button {
    color: var(--global-color-0) !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: rgba(0,0,0,0);
    border: 2px solid;
    border-color: #318aac;
    transition: all 1s ease;
    position: relative;
  }
  button:hover {
    background: #318aac !important;
    color: #fff !important;
  }